{
  "presets": [
    ["@babel/preset-env", { "targets": { "chrome": 65 } }],
    ["@babel/preset-react", { "pragma": "h" }]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["@grafoo/babel-plugin-tag", { "schema": "schema.graphql", "fieldsToInsert": ["id"] }]
  ],
  "env": {
    "production": {
      "plugins": [["babel-plugin-emotion", { "hoist": true }]]
    },
    "development": {
      "plugins": [["babel-plugin-emotion", { "sourceMap": true, "autoLabel": true }]]
    }
  }
}
